.App {
  min-height: 100vh;
  background-color: aliceblue;
  color: rgb(10, 0, 34);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  font-size: 2rem;
  margin-top: 4rem;
  position: relative;
}

.title::after {
  content: '';
  background-color:rgb(185, 218, 0);
  height: 5px;
  width: 50%;
  position: absolute;
  bottom: -1rem;
  left: 25%;
  margin: 0 auto;
  border-radius: 300px;
}

.main-section {
  width: 90%;
  max-width: 1000px;
  height: min-content;
  display: flex;
  gap: 4rem;
  padding: 2rem;
}

.sidebar {
  border-right: 2px solid rgba(204, 204, 252, 0.623);
  padding-right: 3rem;
}

.sidebar h5 {
  cursor: pointer;
  padding: 0.5rem; 
}

.sidebar h5:is(:hover, :focus) {
  background-color: rgba(204, 204, 252, 0.623);
}

.sidebar h5.active {
  /* padding-left: 0.5rem; */
  border-left: 3px solid rgb(185, 218, 0);
}